.ant-message-custom-content {
  display: flex;
  align-items: center;
}

.ant-picker-separator {
  display: inline-flex !important;
  align-items: center;
}

.ant-select-clear {
  margin-top: -8px !important;
}

.ant-btn-icon-only {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-modal-close-x {
  display: flex;
  justify-content: center;
  align-items: center;
}
